<header class="primary-header">
        <div class="logo">
            <p>MINAMI</p>
        </div>
        
            <div class = "burger" btn-active = "false">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        

        <nav>
            <ul class="nav-links" data-visible = "false">
                <li class="active">
                    <a href="./index.html">
                        Home
                    </a></li>
                <li>
                    <a href="./index.html">
                        About
                    </a></li>
                <li>
                    <a href="./index.html">
                        Contact
                    </a></li>
                <input type="button" class="menu-btn" onclick="window.location.href='/menu'" value="Menu">
                    <li class="slide"></li>
            </ul>
            
        </nav>
    </header>